@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, pastel;
  root: ":root";
  logs: true;
  name: "pastel";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98.462% 0.001 247.838);
  --color-base-300: oklch(92.462% 0.001 247.838);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(90% 0.063 306.703);
  --color-primary-content: oklch(49% 0.265 301.924);
  --color-secondary: oklch(89% 0.058 10.001);
  --color-secondary-content: oklch(51% 0.222 16.935);
  --color-accent: oklch(90% 0.093 164.15);
  --color-accent-content: oklch(50% 0.118 165.612);
  --color-neutral: oklch(55% 0.046 257.417);
  --color-neutral-content: oklch(92% 0.013 255.508);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(52% 0.105 223.128);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(52% 0.154 150.069);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(55% 0.195 38.402);
  --color-error: oklch(80% 0.114 19.571);
  --color-error-content: oklch(50% 0.213 27.518);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(255, 255, 225);
  --background-end-rgb: rgb(255, 255, 255);
  /* background-image: url('/ProjectAssets/bg.jpg'); 
  background-size: cover; 
  background-position: center center; 
  background-attachment: fixed; */
}

@media (prefers-color-scheme: no-preference) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: rgb(30 41 59);
    --background-end-rgb: rgb(30 41 59);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
}

.main-content {
  margin: 0 8rem 0 8rem;
}
